<!doctype html>
<html lang="ca">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
<!--
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  -->
    <script src="https://kit.fontawesome.com/ac31f30ff4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">


    <title>Linerin Form</title>
	<!--
    <base href="https://oooriii.github.io/linerin_form/" target="_blank">
	-->

    <!-- favicon -->
    <!--
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
-->
    <!--
    <link rel="manifest" href="/favicons/manifest.json">
  -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

	<style>
		.diameters{
			width: 300px;
		}
		.diameter{
			width: 50px;
			height: 42px;
			display: inline-block;
			margin: 2px;
			border: 1px solid #000;
			border-radius: 2px;
			text-align: center;
			padding-top: 8px;
		}
		.diameter:hover{
			background-color: red;
			color: white;
			cursor: pointer;
		}
    .subtypes{
      width: 400px;
      vertical-align: middle;
    }
    .subtype{
      width: 70px;
      height: 84px;
      display: inline-block;
      margin: 2px;
      border: 1px solid #000;
      border-radius: 2px;
      text-align: center;
      padding-top: 8px;
      word-wrap: break-word;
      float: left;
    }
    .subtype:hover,.subtype.selected{
      background-color: red;
      color: white;
      cursor: pointer;
    }
    .clear{
      clear: both;
    }
		td.number{
			text-align: right;
		}
	</style>

</head>

<body class="bg-white">
<div id="vue-app">

<header id="header" class="container-fluid mt-1 mb-6">
  <div class="row">
    <h1 class="col-md-9">Linerin</h1>
	<!--
    <div class="col-md mt-3 ml-1 justify-content-end"><input id="search" name="search" type="search" placeholder="cerca"/></div>
	-->
  </div>
</header>

<main id="form">
  <div class="container-fluid">
<!--
    <section class="row">
    <article v-for="formArt in formArticles" class="col-sm-4 mb-2">
    	<h3 class="pl-1">{{formArt}}</h3>
    </article>
    </section>
-->
	<section v-if="step==0">
	  	<all-app :articles="articles"></all-app>
		<button @click="step++">next step</button>
	</section>

  	<section v-if="step==1">
		<h3>Payment and delivery</h3>
  		<div>
  			<strong>Delivery terms:</strong>&nbsp;
			<select v-model="deliveryType">
				<option disabled selected>select delivery term</option>
				<option value="CFR / CIF">CFR / CIF</option>
				<option value="DAP – Delivered At Place">DAP – Delivered At Place</option>
			</select>

			<div v-if="deliveryType == 'CFR / CIF'">
				<select v-model="deliveryPorts" multiple>
					<option disabled selected>select one or more ports</option>
					<option v-for="port in ports" :value="port">{{port}}</option>
				</select>
			</div>


			<div v-if="deliveryType == 'DAP – Delivered At Place'">
				<input v-model="DAP.zip" placeholder="Enter ZIP Code"/>
				<input v-model="DAP.city" placeholder="Enter City"/>
				<input v-model="DAP.country" placeholder="Enter Country"/>
			</div>
  		</div>
  		<div>
  			<strong>Payment terms</strong>&nbsp;
			<select v-model="payment">
				<option disabled selected>select payment term</option>
				<option v-for="paymentTerm in paymentTerms" :value="paymentTerm">{{paymentTerm}}</option>
			</select>
  		</div>
		<button @click="step--">previous step</button>
		<button @click="step++">next step</button>
  	</section>

  	<section v-if="step==2">
		<h3>Contact</h3>
  		<div>
  			<strong>Email:</strong>&nbsp;<input type="email" v-model="email" placeholder="Contact email" required/>
  		</div>
  		<div>
  			<strong>Name:</strong>&nbsp;<input type="text" v-model="name" placeholder="Contact name"/>
  		</div>
		<button @click="step--">previous step</button>
  	</section>

	  <!--
	  <div v-if="email!='' && articles.length>0">
	-->
		  <!--
	  <div v-if="validEmail() && articles.length>0 && step==2">
			 -->
	  <div v-if="validEmail() && someArticle && step==2">
		  <button @click="sendData()">SEND</button>
	  </div>

	<div>
		<div>
			<strong>Count:</strong> <span>{{count}}</span>
		</div>
		<div>
			<strong>Message:</strong> <span>{{result}}</span>
		</div>
		<div>
			<strong>PaymentTerm:</strong> <span>{{payment}}</span>
		</div>
		<div>
			<strong>Delivery Terms:</strong> <span>{{deliveryType}}</span>
		</div>
		<div v-if="deliveryType == 'CFR / CIF'">
			<strong>Ports:</strong> <span>{{deliveryPorts}}</span>
		</div>
		<div v-if="deliveryType == 'DAP – Delivered At Place'">
			<strong>DAP:</strong> <span>{{DAP}}</span>
		</div>
	</div>
  </div>
</main>

<footer>
</footer>

</div>

</body>

<!-- axios -->
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <!-- lodash -->
     <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
 <!-- development version, includes helpful console warnings -->

     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

 <!--
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
-->

<script src="js/main.js"></script>


</html>
